
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

.terraform**
.vscode

.env*

venv
freepik_client*
dist
*.zip
vendor